<style>
  .card-img{
  overflow: hidden;
  }
  .card-img img{
    transition: all 1.3s ease;
  }
  .card-img:hover img{
    transform: scale(1.2);
  }

  #album_card.htmx-swapping div{
    opacity: 0;
    transition: opacity 1s ease-out;
  }

</style>
<div class="row justify-content-center" id="albums">
  {% for album in albums %}

<div class="card {% if page == 'new' and album.completion == 100 %}border-warning text-warning{% endif %} text-center" style="width: 18rem;" {% if page == 'recommendation' %}hx-target="this" hx-swap="outerHTML swap:0.3s" id="album_card" {% endif %}>
  <div class="card-img">
  <a href="{% url 'main_page:album_details' album.album.id%}"><img src="{{album.album.cover300}}" class="img-fluid" alt="No_Photo"></a>
    </div>
    <div class="card-body">
    <h5 class="card-title">{{album.album.name}}</h5>
    <p class="card-text">
      {% for artist in album.album.artist_name.all %}
      {{artist}}
      {% endfor %}<br>
      {% if page == 'new' %}
      {{ album.completion }}% completion
      {% endif %}
     </p>
      {%if page == 'recommendation' %}
            <button class="btn btn-danger" hx-get="{% url 'profile:delete_recommendation_item' album.album.id %}">
          Delete
        </button>
      {% endif %}
      {% if page == 'like' and pk == request.user.id  %}
    <a href="{% url 'profile:make_fav' album.album.id %}" class="btn btn-primary">make it your obsession</a>
      {% endif %}
    <a href="{{album.album.link}}" class="btn btn-success">listen on spotify</a>
  </div>
</div>

{% endfor %}
</div>

