{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-2">
           <img src="{{profile.pfp.url}}" style="width: 100%; object-fit: cover;">
        </div>
        <div class="col-md-6">
            <h3>{{profile.user.username}}</h3>
            <small class="text-muted">{{profile.bio}}</small>
            <br>
            <br>

            <button class="btn btn-primary" type="button" hx-get="{% url 'spotify:test_data_update'%}" hx-target="this" hx-trigger='click' hx-indicator='#loading_data' hx-swap="outerHTML" >
                Sync Your Spotify Data
            </button><b class="htmx-indicator" id="loading_data"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span></b>

            <br>
            <br>
            <a href="{% url 'profile:connections'%}">Account Connections</a><br>
            <!---<a href="{% url 'spotify:test_data_update'%}">testing data update</a><br>-->
        </div>
        <div class="col-md-4">
            {% if profile.favorite_album != Null %}
            <div>
                <h5>favorite album:</h5><br>
                <img src="{{profile.favorite_album.cover64}}">
                {% for artist in profile.favorite_album.artist_name.all %}{{artist}}{% endfor %} - {{profile.favorite_album}}
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <br>
            <div class="d-flex justify-content-between">

                <a class="link-dark text-decoration-none" href="{% url 'profile:albums_liked' profile.user.id %}">Likes</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:albums_listened' profile.user.id %}">Encountered albums</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:songs_listened' profile.user.id %}">Last played songs</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:all_reviews' profile.user.id %}">Reviews</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:wl' profile.user.id %}">Waiting list</a>

            </div>
            <br>
            <hr>
            <br>
            <div class="d-flex justify-content-between">
                <a class="link-dark text-decoration-none" href="{% url 'profile:playlist' %}">Playlist</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:no_review_section' 0 %}">Albums to review queue</a>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:recommendations'%}">Recommendations</a>
                <a class="link-dark text-decoration-none" href="{% url 'profile:encountered_que' 0 %}">Encountered queue</a>
            </div>

        </div>

        <div class="col-md-4 offset-md-1">
            {% if  request.user == profile.user and user.is_staff %}
                <h5>Test Features</h5><br>
                <!--<a class="link-dark text-decoration-none" href="{% url 'spotify:rip_likes' %}">rip likes</a><br>-->
                <a class="link-dark text-decoration-none" href="{% url 'spotify:get_saved_songs' %}">new rip likes</a><br>

                <a class="link-dark text-decoration-none" href="{% url 'spotify:rip_albums' %}">rip albums</a><br>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:rip_followed' %}">rip artists</a><br>
                <br>
                <p class="text-danger">!!CHANGE SPOTIFY USER BEFORE!!</p>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:record_likes' %}">record likes</a><br>
                <br>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:put_albums' %}">record albums</a><br>
                <br>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:record_followed_view' %}">record artists</a><br>
                <br>
                <br>
                <a class="link-dark text-decoration-none" href="{% url 'spotify:display_likes' %}"> saved tracks </a><br>
            {% endif %}
        </div>
    </div>
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
{% endblock %}